body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://tse2.mm.bing.net/th?id=OIP.Jes6HmHYQeHOlC0WvdiVKgHaDF&pid=Api&P=0&h=180");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container {
  max-width: 80%;
  margin: auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #2c3e50;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #29b95b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #218c4b;
}

.error {
  color: #e74c3c;
  margin: 15px 0;
  font-size: 1rem;
}

.res {
  background-color: #ecf0f1;
  padding: 15px;
  border-radius: 6px;
  margin-top: 15px;
  color: #2c3e50;
}

.favorites-container {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .Container {
    max-width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  button,
  input[type="text"] {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .Container {
    max-width: 95%;
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  button,
  input[type="text"] {
    font-size: 0.9rem;
  }
}
